#ifndef SECRETS_H
#define SECRETS_H

// Replace these values in the local secrets.h file.
#define WIFI_SSID_LOCAL   "Wokwi-GUEST"
#define WIFI_SSID_CODAPLI "Wokwi-GUEST"
#define WIFI_SSID_MOBILE  "Wokwi-GUEST"
#define WIFI_SSID_WOKWI   "Wokwi-GUEST"

#define WIFI_PASS_LOCAL   ""
#define WIFI_PASS_CODAPLI ""
#define WIFI_PASS_MOBILE  ""
#define WIFI_PASS_WOKWI   ""

#endif // SECRETS_H
